<div id="redditBG"></div>
<div class="bubble" id="redditBubble"></div>
<%= render 'form' %>
<% @frontpage.each do |link| %>
<div class="redditPosts">
  <% if link.attributes[:thumbnail].empty? %>
<p class = "title"><%= link.attributes[:title] %><br><%= link.attributes[:url]%> </p>
  <% else %> 
<p class = "title"><%= link.attributes[:title] %><br><%= link.attributes[:url]%> </p>
  <p class="redditIMG"><%= image_tag link.attributes[:thumbnail] %></p>
  <% end %>
<p class="redditVotes"><%= link.attributes[:score] %> </p>

<p class="redditUpVotes"><%= link_to "Upvote", reddit_upvote_path(:upvoted => link), :method => :post%> </p>

<p class="redditDownVotes"><%= link_to "Downvote", reddit_upvote_path(:downvoted => link), :method => :post%> </p>

<p class="redditComments"> <%= link_to "Comments", reddit_comments_path(@reddit_comments, :comments => link.attributes[:name]), :method => :post %> </p>
</div>
<% end %>


<!-- :comments) => link.attributes[:permalink] -->
 <!-- link_to "Comments", reddit_comments_path(@reddit_comments, :comments => link.attributes[:permalink]), :method => :post -->
<!--  .attributes[:name] -->