<div class="twitterBG"></div>
<div class="twitter">

<%= render 'form' %>

<% @home.each do |tweet| %>
  <div><hr>
    <div><%= raw tweet["attrs"][:source] %></div>
    
    <small>@<%= tweet["attrs"][:user][:screen_name] %></small><br>
   
  
      <% if tweet["attrs"][:entities][:media] %>
        <%= image_tag tweet["attrs"][:entities][:media][0][:media_url] %>
      <% end %>


    <%= image_tag tweet["attrs"][:user][:profile_image_url_https] %>
    <%debug tweet["attrs"] %>


    <p>Tweet: <%= tweet["attrs"][:text] %></p><br>
    <% if tweet["attrs"][:retweeted_status] %>
      <p>Retweet:,  <%= tweet["attrs"][:retweeted_status][:text] %></p>

    <% end %>

  </div><br>
<% end %>

</div>
