<div class="twitterBG"></div>
<div class="twitter">
<<<<<<< HEAD
<h1>Twitter</h1>

<%= form_tag("/twitter", method: "post") do %>
  <%= label_tag(:message, "Post a Tweet:") %>
  <%= text_field_tag(:message) %>
  <%= submit_tag("TWEET") %>
<% end %>

<%= form_tag('/twitter/search', :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Tweets" %>
  <%= submit_tag("Search") %>
<% end %>

<% @timeline.each do |tweet| %>
  <div><hr>
    <div><%= raw tweet["attrs"][:source] %></div>
    
    <small>@<%= tweet["attrs"][:user][:screen_name] %></small><br>
   
  
      <% if tweet["attrs"][:entities][:media] %>
        <%= image_tag tweet["attrs"][:entities][:media][0][:media_url] %>
      <% end %>


    <%= image_tag tweet["attrs"][:user][:profile_image_url_https] %>
    <%debug tweet["attrs"] %>


    <p>Tweet: <%= tweet["attrs"][:text] %></p><br>
    <% if tweet["attrs"][:retweeted_status] %>
      <p>Retweet:,  <%= tweet["attrs"][:retweeted_status][:text] %></p>

    <% end %>

  </div><br>
<% end %>
=======
<!-- <h1>Twitter</h1> -->
<% @tweets.each do |tweet| %>

  <div class="tweets"><!-- <hr> -->
  <!--   <div><%= raw tweet["source"] %></div> -->
    <%= image_tag tweet["user"]["profile_image_url_https"], :width => 48, :height => 48, :id => "twitterPF" %>
    <h5 id="twitterUN"><strong><%= tweet["user"]["name"] %></strong></h5>
    <h6 id="twitterHD">@<%= tweet["user"]["screen_name"] %></h6><br>

     <% if tweet["entities"]["media"] %>
      <%= image_tag tweet["entities"]["media"][0]["media_url"], :id => "twitterIMG" %>
    <% end %>

    <% debug tweet %>

    <p id="twitterTXT"><%= tweet["text"].to_s %></p><br>
    <!-- <% if tweet["retweeted_status"] %>
      <p id="twitterRT">Retweet: <%= tweet["retweeted_status"]["text"] %></p>
    <% end %> -->
  </div>
  <br>
<% end %>
</div>
>>>>>>> styles
