<h1>Twitter</h1>

<%= form_tag("/twitter", method: "post") do %>
  <%= label_tag(:message, "Post a Tweet:") %>
  <%= text_field_tag(:message) %>
  <%= submit_tag("TWEET") %>
<% end %>

<%= form_tag('/twitter/search', :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Tweets" %>
  <%= submit_tag("Search") %>
<% end %>

<% @timeline.each do |tweet| %>

  <div><hr>
    <div><%= raw tweet["source"] %></div>
    <%= tweet["user"]["name"] %><br>
    <small>@<%= tweet["user"]["screen_name"] %></small><br>
   
  
    <% if tweet["entities"]["media"] %>
      <%= image_tag tweet["entities"]["media"][0]["media_url"] %>
    <% end %>

    <%= image_tag tweet["user"]["profile_image_url_https"], :width => 100, :height => 100 %>
    <% debug tweet %>

    <p>Tweet: <%= tweet["text"].to_s %></p><br>
    <% if tweet["retweeted_status"] %>
      <p>Retweet: <%= tweet["retweeted_status"]["text"] %></p>
    <% end %>

  </div><br>
<% end %>