<div class="twitter">
<h1>Twitter</h1>

<%= form_tag("/twitter", method: "post") do %>
  <%= label_tag(:message, "Post a Tweet:") %>
  <%= text_field_tag(:message) %>
  <%= submit_tag("TWEET") %>
<% end %>

<%= form_tag('/twitter/search', :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Tweets" %>
  <%= submit_tag("Search") %>
<% end %>

<% @timeline.each do |tweet| %>
  <div><hr>
    <div><%= raw tweet["attrs"][:source] %></div>
    
    <small>@<%= tweet["attrs"][:user][:screen_name] %></small><br>
   
  
      <% if tweet["attrs"][:entities][:media] %>
        <%= image_tag tweet["attrs"][:entities][:media][0][:media_url] %>
      <% end %>


    <%= image_tag tweet["attrs"][:user][:profile_image_url_https] %>
    <%debug tweet["attrs"] %>


    <p>Tweet: <%= tweet["attrs"][:text] %></p><br>
    <% if tweet["attrs"][:retweeted_status] %>
      <p>Retweet:,  <%= tweet["attrs"][:retweeted_status][:text] %></p>

    <% end %>

  </div><br>
<% end %>
<<<<<<< HEAD

=======
</div>
>>>>>>> styles
