<div class="instagramBG">
  <%= render 'form' %>

<% @insta_newsfeed.each do |pictures| %>
  <%= image_tag pictures["images"]["thumbnail"]["url"], :class => "instagramIMG"%>
  <p><%= pictures.likes[:count] %></p>

  <% if pictures.user_has_liked == false %>
      <p><%= link_to "Like", '/instagram/like/' + pictures["id"], :method => :post%> </p>
    <% else %>
      <p><%= link_to "Unlike", '/instagram/unlike/' + pictures["id"], :method => :post%> </p>
    <% end %>

<% end %>
