<h1>Instagram</h1>

<%= form_tag("/instagram/search", method: "post") do %>
  <%= label_tag(:search, "Search by tags:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<%end%>

<% @instas.each do |pictures| %>
  <img src = <%= pictures.images.thumbnail.url %>> 
<% end %>

<div>
<h1>Home Timeline</h1><% @insta_newsfeed.each do |pictures| %>
    <img src = <%= pictures.images.thumbnail.url %>> 
  <% end %>
</div>
